<div class="px-0 container-xxl h-100">
    <div class="active-form flex-grow-1 d-flex px-2 px-md-4 py-lg-4 w-100 border"
        [ngClass]="{ 'mt-5' :countWidgetStyles.orientation !== 'vertical'}">
        <app-stepper>
            <!-- basic-details-form -->
            <app-step title="Basic" icon="icon-basic">
                <header>
                    <h2 class="fs-5 pt-4 pb-2 text-primary"><span>1.</span>Basic Details</h2>
                </header>
                <app-basic-details-presentation #formSelector></app-basic-details-presentation>
            </app-step>

            <!-- address-details-form -->
            <app-step title="Address" icon="icon-address">
                <header>
                    <h2 class="fs-5 pt-4 pb-2 text-primary"><span>2.</span>Address Details</h2>
                </header>
                <app-address-details-presentation [countryAndState]="countryAndState" [countryAndCity]="contryAndCity"
                    #formSelector></app-address-details-presentation>
            </app-step>

            <!-- skill-details-form -->
            <app-step title="Skill" icon="icon-skill">
                <header>
                    <h2 class="fs-5 pt-4 pb-2 text-primary"><span>3.</span>Skill Details</h2>
                </header>
                <app-skill-rating-presentation [frameworks]="frameWorkList" [programmingLanguages]="languageList"
                    #formSelector></app-skill-rating-presentation>
            </app-step>

            <!-- project-details-form -->
            <app-step title="Project" icon="icon-project">
                <header>
                    <h2 class="fs-5 pt-4 pb-2 text-primary"><span>4.</span>Project Details</h2>
                </header>
                <app-project-details-presentation [projects]="projectList" [positions]="positionList"
                    #formSelector></app-project-details-presentation>
            </app-step>

            <!-- policy-details-form -->
            <app-step title="Policy" icon="icon-policy">
                <header>
                    <h2 class="fs-5 pt-4 pb-2 text-primary"><span>5.</span>Policy Details</h2>
                </header>
                <app-policy-details-presentation #childComponent></app-policy-details-presentation>
            </app-step>
        </app-stepper>
    </div>
</div>