$icomoon-font-family: "stepper-form" !default;
$icomoon-font-path: "fonts" !default;

$icon-policy: "\e923";
$icon-project: "\e930";
$icon-address: "\e948";
$icon-skill: "\e955";
$icon-basic: "\e971";
$icon-user-active: "\e975";
$icon-active: "\ea10";

