.cursor-pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed !important;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-wrapper {
    min-height: 70vh;
    width: 80%;
}

//responsive 
@media screen and (max-width: 992px) {
    .form-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .form-wrapper {
        min-height: 90vh;
    }
}