.counts {
    position: relative;
    z-index: 11;

    &.vertical-orientation {

        .nav-items {
            height: calc((100% - 40px)/5);
            width: initial;
            flex-direction: column !important;
            &:last-child {
                height: initial;
            }
        }

        .step-title {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            margin: 14px;
            transform: scale(-1);
        }

        .step-progress-bar {
            left: 17px;
            top: 0;
            width: 5px !important;
            height: 100%;

            .progress-bar-active {
                width: 5px !important;
            }

        }
    }
}

//count-widget css
.count-button {
    height: 40px;
    width: 40px;
    background-color: $light;
    font-size: 16px;
    font-weight: bold;
    color: $secondary;
    border: none;
    flex-shrink: 0;
}


//steps state css 
.nav-items {
    width: calc((100% - 40px)/5);

    &:last-child {
        width: initial;
    }

    &.active {

        .count-button,
        .step-details {
            color: $success;
        }
    }

    &.completed {
        .count-button {
            background-color: $secondary;
            color: $white;
        }
    }
}

//progress bar css
.step-progress-bar {
    background: $light;
    position: absolute;
    top: 50%;
    z-index: -1;

    .progress-bar-active {
        transition-timing-function: ease-out;
        transition: all 0.4s;
        height: 5px;
        background-color: $secondary;
    }

}