.counts {
    position: relative;
    z-index: 11;
}
.progress {
    position: absolute;
    z-index: -1;
    top: 40%;
    width: 100%;
}

.active .count-button {
    background-color: $secondary;
    color: $white;
}

.count-button {
    height: 40px;
    width: 40px;
    background-color: $light;
    font-size: 16px;
    font-weight: bold;
    color: $secondary;
    border: none;
    &:active {
        background-color: $secondary;
        border: none;
    }
}

.step-progress {
    .progress-bar {
        height: 40%;
    }
}