.counts {
    position: relative;
    z-index: 11;
}

.active {

    .count-button,
    .step-details {
        color: $success;
    }
}

.completed .count-button {
    background-color: $secondary;
    color: $white;
}

.count-button {
    height: 40px;
    width: 40px;
    background-color: $light;
    font-size: 16px;
    font-weight: bold;
    color: $secondary;
    border: none;
    flex-shrink: 0;
}

.nav-items {
    width: 20%;
}

.step-progress-bar {
    background: $light;
    position: absolute;
    top: 50%;
    z-index: -1;

    .progress-bar-active {
        transition-timing-function: ease-out;
        transition: all 0.4s;
        height: 40%;
        background-color: $secondary;
    }
}