<div class="main-form d-flex flex-column justify-content-between h-100">
    <h2 class="fs-5 text-primary py-4"><span>5.</span>Policy Details</h2>
    <!-- start-basic-details-form -->
    <form class="flex-grow-1 d-flex flex-column" [formGroup]="policyForm" (ngSubmit)="submitForm(6)">
        <div class="form-details flex-grow-1">
            <div class="row">
                <div class="col-12">
                    <!-- start-terms-condition -->
                    <div class="form-check mb-3">
                        <input class="form-check-input cursor-pointer" type="checkbox" id="term1" formControlName="communicateTerm">
                        <label class="form-check-label cursor-pointer" for="term1">
                            I agree to maintain open and clear communication with the project team and stakeholders.
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input cursor-pointer" type="checkbox" id="term2" formControlName="documentTerm">
                        <label class="form-check-label cursor-pointer" for="term2">
                            I understand the importance of proper change management and will document any project scope
                            changes.
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input cursor-pointer" type="checkbox" id="term3" formControlName="securityTerm">
                        <label class="form-check-label cursor-pointer" for="term3">
                            I will ensure the implementation of adequate data security measures and privacy protection.
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input cursor-pointer" type="checkbox" id="term4" formControlName="collaborativeTerm">
                        <label class="form-check-label cursor-pointer" for="term4">
                            I will foster a collaborative environment to encourage teamwork and productivity.
                        </label>
                    </div>
                    <!-- end-terms-condition -->
                </div>
                <div class="col-12">
                    <!-- start-error-start-date -->
                        <h6 *ngIf="!policyForm.valid && policyForm.touched" class="text-danger mt-2">
                            *Please agree to the All terms and conditions
                        </h6>
                    <!-- -error-start-date -->
                </div>
            </div>
        </div>
        <!-- start:next-button -->
        <div class="form-footer d-flex justify-content-between py-3 flex-shrink-0">
            <button class="btn btn-primary text-white" (click)="submitForm(4)">Previous</button>
            <button type="submit" class="btn btn-secondary text-white">Next</button>
        </div>
        <!-- end:next-button -->
    </form>
    <!-- end-basic-details-form -->
</div>