<div class="custom-range w-100 text-center d-flex flex-column">

    <input type="range" class="form-range" id="skillRange" min="1" max="5" (change)="onSliderChange($event)" step="1"
        (input)="onSliderChange($event)" (blur)="onTouched($event)" [value]="sliderValue" #slider>
    <label for="skillRange"></label>
    <!-- step-label-start -->
    <div class="step-labels" id="step-labels">
        <span class="step" data-value="1">1</span>
        <span class="step" data-value="2">2</span>
        <span class="step" data-value="3">3</span>
        <span class="step" data-value="4">4</span>
        <span class="step" data-value="5">5</span>
    </div>
    <!-- step-label-end -->
</div>