<div class="main-form d-flex flex-column justify-content-between h-100">
    <h2 class="fs-5 pt-4 pb-2 text-primary"><span>2.</span>Address Details</h2>
    <!-- start-basic-details-form -->
    <form class="flex-grow-1 d-flex flex-column">
        <div class="form-details flex-grow-1">
            <div class="row">
                <div class="col-6">
                    <label for="address" class="mb-1 cursor-pointer fw-semibold">Address<span class="text-danger">*</span></label>
                    <div class="input-group mb-4">
                        <input type="text" id="address" class="form-control" placeholder="Address"
                            aria-label="First Name">
                    </div>
                </div>
                <div class="col-6">
                    <label for="streetAddress" class="mb-1 cursor-pointer fw-semibold">Street Address<span class="text-danger">*</span></label>
                    <div class="input-group mb-4">
                        <input type="text" id="streetAddress" class="form-control" placeholder="Street Address"
                            aria-label="First Name">
                    </div>
                </div>
                <div class="col-6">
                    <label for="pinCode" class="mb-1 cursor-pointer fw-semibold">Pin Code<span class="text-danger">*</span></label>
                    <div class="input-group mb-4">
                        <input type="text" id="pinCode" class="form-control" placeholder="Pin Code"
                            aria-label="First Name">
                    </div>
                </div>
                <div class="col-6">
                    <label for="country" class="mb-1 cursor-pointer fw-semibold">Country<span class="text-danger">*</span></label>
                    <div class="input-group mb-4">
                        <!--Using ng-option and for loop-->
                        <ng-select placeholder="Country" id="country" class="w-100">
                            <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-6">
                    <label for="state" class="mb-1 cursor-pointer fw-semibold">State<span class="text-danger">*</span></label>
                    <div class="input-group mb-4">
                        <ng-select placeholder="State" class="w-100" id="state">
                            <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-6">
                    <label for="city" class="mb-1 cursor-pointer fw-semibold">City<span class="text-danger">*</span></label>
                    <div class="input-group mb-4">
                        <!--Using ng-option and for loop-->
                        <ng-select placeholder="City" class="w-100" id="city"> 
                            <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <!-- start:next-button -->
        <div class="form-footer d-flex justify-content-between py-3 flex-shrink-0">
            <button class="btn btn-primary text-white">Previous</button><button class="btn btn-secondary text-white">Next</button>
        </div>
        <!-- end:next-button -->
    </form>
    <!-- end-basic-details-form -->
</div>